.day-mode{
    --font-color: #000;

    --background-color-1: #AAA;
    --background-color-2: #888;
    --background-color-3: #EEE;
    --background-color-4: #EEE;
    --background-color-5: #888;
}

.day-mode {
    color: var(--font-color);
}
