.night-mode{
    --font-color: #FFF;

    --background-color-1: #111;
    --background-color-2: #222;
    --background-color-3: #333;
    --background-color-4: #444;
    --background-color-5: #555;
}

.night-mode {
    color: var(--font-color);
}
