html, body, #app, #page, .file-drop {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ------ Tags ------ */

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    height: 20px;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

textarea .chat-input {
    height: 20px;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    overflow: hidden;
    resize: none;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 3px #735A93;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #5C3E73;
}

.button-custom {
    min-width: 100px;
    margin: 3px;
    padding: 8px 18px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: none;
}

.button-custom.tor {
    color: #FFF;
    background-color: #735A93;
}

.button-custom.tor:hover {
    background-color: #5C3E73;
}

.button-custom.confirm {
    color: #FFF;
    background-color: #3085d6;
}

.button-custom.confirm:hover {
    background-color: #2b77c0;
}

.button-custom.cancel {
    color: #FFF;
    background-color: #d33;
}

.button-custom.cancel:hover {
    background-color: #c62e2e;
}

.form-group {
    position: relative;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 100%;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder, .form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

/* ------ Side bar ------ */

#side-bar {
    width: 200px;
    height: 100%;
    float: left;
}

#side-menu {
    width: 100%;
    height: 70px;
    background-color: var(--background-color-2);
}

#side-content {
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    background-color: var(--background-color-1);
}

/* ------ content ------ */

#content {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    background-color: var(--background-color-3);
}

#message-list {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    background-color: var(--background-color-4);
}

#message-input {
    width: 100%;
    height: 60px;
    background-color: var(--background-color-5);
}

.inchat-alert {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 0px;
}